@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Bangers);

// font-family: 'Permanent Marker', cursive;

html, body {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Bangers', cursive;
}

nav {
  width: 100%;
  height: 8%;
  display: block;
  position: relative;
}

a {
  width: 10%;
  height: 100%;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

button, select {
  margin: 10px;
}

#heroes {
  width: 100%;
  position: absolute;
  display: relative;
  background-color: black;
}

#hero {
  width: 100px;
  height: 250px;
  position: relative;
  display: inline-block;
  margin: 9%;
  text-align: center;
  background-color: gray;
}



.name, .delete, .heroHead, .heroBod, .heroLegs {
  width: 200%;
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.name {
  color: white;
}

.heroHead {
  height: 33%;
}

.heroBod {
  height: 33%;
}

.heroLegs {
  height: 33%;
}
