extends ../shared/template

block content
  h2 Create Your Hero

  form(method='POST', action='/heroes')
    input(name='name', type='text', placeholder='name')
    select(name='head')
      option Head
      option Iron Man
      option Captain America
      option Deadpool
      option Wolverine
    select(name='bod')
      option Body
      option Iron Man
      option Captain America
      option Deadpool
      option Wolverine
    select(name='legs')
      option Legs
      option Iron Man
      option Captain America
      option Deadpool
      option Wolverine
    select(name='banner')
      option Banner
      option Iron Man
      option Captain America
      option Deadpool
      option Wolverine
    button Create!
