extends ../shared/template

block content
  h1= hero.name

  #hero
    .heroHead(style='background-image: url(/img/#{hero.photoHead})')
    .heroBod(style='background-image: url(/img/#{hero.photoBod})')
    .heroLegs(style='background-image: url(/img/#{hero.photoLegs})')
